* {
  font-family: 'system-ui';
  margin: 0;
}

body {
  margin: 32px auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  display: grid;
  width: 500px;
  height: 500px;
  border: solid black 2px;
}